<h1>会員一覧</h1>
<table class='table'>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= link_to member_path(member) do %><%= member.last_name %><%= member.first_name %><% end %></td>
        <td><%= member.email %></td>
        <td><% if member.is_deleted == true %>
            <p>退会</p>
            <% else %>
            <p>有効</p>
            <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>