<div class='container'>
  <div class='row'>
      <div class="<col>">
        <h3 class="px-5 py-2 mt-5 ml-5 bg-light text-dark">商品編集</h3>
      </div>
  </div>
  <div class='row mt-3'>
    <div class='col field d-flex justify-content-center'>
      <%= form_with model: @item, url: admin_item_path, method: :patch,local: true do |f| %>
        <% if @item.errors.any? %>
          <%= @item.errors.count %> errors prohibited this item from being saved:<br>
            <% @item.errors.full_messages.each do |message| %>
              ・<%= message %><br>
            <% end %>
        <% end %>
        <table class='table table-borderless'>
          <tr><th>商品画像</th><td><%=f.attachment_field :image %></td></tr>
          <tr><th>商品名</th><td><%= f.text_field :name %></td></tr>
          <tr><th>商品説明</th><td><%= f.text_area :description %></td></tr>
          <tr><th>ジャンル</th><td>
           <%= f.collection_select :genre_id, Genre.all, :id, :name %>
          </td></tr>
          <tr><th>税抜価格</th><td><%= f.text_field :price %>円</td></tr>
          <tr><th>販売ステータス</th><td>
                <%= f.radio_button :is_active, TRUE %>
                <%= f.label :is_active, "販売中" %>
                <%= f.radio_button :is_active, FALSE %>
                <%= f.label :is_active, "販売停止中" %>
              </td></tr>
          <tr><th></th><td>
            <button type="submit" class="btn btn-success btn-lg">
              <% f.submit %>変更を保存
            </button>
          </td></tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
