<div "container">
    <div class='row'>
        <div class='col-8 offset-2 text-nowrap'>
            <h1 class="pt-3">商品一覧</h1><h4>(全<%= @items.count %>件)</h4></h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-8 offset-2'>
            <table>
                <tr class="d-flex justify-content-evenly flex-wrap">
                <% @items.each do |item|%>
                    <td class="px-5">
                    <%= link_to item_path(item) do %>
                     <%= attachment_image_tag(item, :image, fallback: "no_image.jpg", size: "150x150",class: "d-block mx-auto")%>
                    <%end%></br>
                    商品名　<%=item.name%></br>
                    <% if item.is_active == TRUE %>
                     税込￥<%= (item.price*1.08).to_i %>
                    <% else %>
                     <p class="text-danger">在庫切れ</p>
                    <% end %>
                    </td>
                <% end %>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--%= paginate @products %>-->