<div "container">
    <div class='row'>
        <div class='col-8 offset-2'>
            <h4 class="pt-3">新規会員登録</h4>
        </div>
    </div>
    <div class='row'>
        <div class='col-10 offset-1'>
            <table  class='table table-borderless'>
                
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "members/shared/error_messages", resource: resource %>
            　  <tr>
                    <td class="col-2">名前</td>
                    <td class="text-right col-1">
                        <%= f.label :last_name,"(姓)"%>
                    </td>
                    <td class="col-3">
                        <%= f.text_field :last_name, autofocus: true, :placeholder => "令和" %>
                    </td>
                    <td class="text-right col-1">
                        <%= f.label :first_name,"(名)"%>
                    </td>
                    <td class="col-3">
                        <%= f.text_field :first_name, :placeholder => "花子" %>
                    </td>
                <tr>
                <tr>
                    <td>フリガナ</td>
                    <td class="text-right">
                        <%= f.label :last_name_kana,"(セイ)" %>
                    </td>
                    <td>
                        <%= f.text_field :last_name_kana, :placeholder => "レイワ" %>
                    </td>
                    <td class="text-right">
                        <%= f.label :first_name_kana,"(メイ)"%>
                    </td>
                    <td>
                        <%= f.text_field :first_name_kana , :placeholder => "ハナコ"%>
                    </td>
                <tr>
                <tr>
                    <td>メールアドレス</td>
                    <td></td>
                    <td>
                        <% f.label :email %>
                        <%= f.email_field :email, autocomplete: "email", :placeholder => "sample@example.com" %>
                    </td>
                <tr>
                <tr>
                    <td>郵便番号(ハイフンなし)</td>
                    <td></td>
                    <td>
                        <% f.label :post_code %>
                        <%= f.text_field :post_code, :placeholder => "1234567" %>
                    </td>
                <tr>
                <tr>
                    <td>住所</td>
                    <td></td>
                    <td colspan="3">
                        <% f.label :address %>
                        <%= f.text_field :address ,class: "w-75", :placeholder => "東京都渋谷区"%>
                    </td>
                <tr>
                <tr>
                    <td>電話番号(ハイフンなし)</td>
                    <td></td>
                    <td>
                        <% f.label :phone_number %>
                        <%= f.text_field :phone_number, :placeholder => "01234567890" %>
                    </td>
                <tr>
                <tr>
                    <td>パスワード(6文字以上)</td>
                    <td></td>
                    <td>
                        <% f.label :password %>
                        <!--% if @minimum_password_length %>-->
                        <!--    <em>(%= @minimum_password_length %> characters minimum)</em>-->
                        <!--% end %>-->
                        <%= f.password_field :password, autocomplete: "new-password" %>
                    </td>
                <tr>
                <tr>
                    <td>パスワード(確認用)</td>
                    <td></td>
                    <td>
                        <% f.label :password_confirmation %>
                        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                    </td>
                <tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><%= f.submit "新規登録" ,class: "btn btn-success w-100" %></td>
                <tr>
            <% end %>
            </table>
        </div>
    </div>
    <div class='row'>
        <div class='col-8 offset-2'>
            <h4 class="pt-3">既に登録済みの方</h4>
            <p class="pl-5"><%= render "members/shared/links"%></p>
        </div>
    </div>
</div>