<div class="container">
  <div class="row">
    <div class="col-xs-7">
      <h2>admin注文履歴詳細</h2>
      <table class='table table-bordered'>
        <tr>
          <th>購入者</th>
          <td>
            <%= link_to admin_member_path do %>
            　<%= @order.member.last_name %>
              <%= @order.member.first_name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>〒<%= @order.shipping_post_code %><%= @order.shipping_address %></br>
              <%= @order.shipping_name %></td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment_method %></td>
        </tr>

        <tr>
         <th>注文ステータス</th>
          <td> <!--oreder controllerのupdateの飛ぶ-->
            <%= form_with model:@order, url: admin_order_path, method: :patch ,local: true do |f| %>
       	    <%= f.select :status, Order.statuses.keys %>
            <%= f.submit '更新'  ,class: "btn btn-success" %>
            <% end %>
      　　<!--https://qiita.com/nao0725/items/82407d1682e993738798-->
        　<!--上記URL参照して作成 したほうはlocal: trueが入-->
        　</td>
        </tr>
      </table>
     </div>
      <!--< % = form_with(model: @order, url: admin_order_path, local: true, class: "form-row") do |f| %>
        < %= f.select :status, Order.statuses_i18n.invert, {prompt: false}, class:"form-control form-control-sm col-6"  %>
        < %= f.submit "更新",class: "btn btn-outline-success"%>
      < % end %>-->
<!--https://nllllll.com/ruby-on-rails/%E3%80%90rails%E3%80%91enum%E3%82%92%E4%BD%BF%E3%81%A3%E3%81%A6%E3%82%B9%E3%83%86%E3%83%BC%E3%82%BF%E3%82%B9%E7%AE%A1%E7%90%86%E3%82%92%E8%A1%8C%E3%81%86/-->
<!--上記URL参照して作成 config/locales/ja.ymlいじった-->
<div class='order'>
  <div class="col-xs-8">
    <table class='table table-bordered'>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>入個数</th>
        <th>小計</th>
        <th>制作ステータス</th>
        <th></th>
      </tr>
      <tr>
       <% @ordered_items.each do |ordered_item|%>
        <td><%= ordered_item.item.name %></td>
        <!--購入時価格(税込)-->
        <td> <%= ordered_item.tax_included_price %></td>
        <!--個数-->
        <td><%= ordered_item.quantity %></td>
        <!--小計=税込価格*個数
        <td>< %= ordered_item.tax_included_price*order.ordered_items.quantity.to_i(:delimited) %></td>
         -->

        <td><!--制作ステータス indexに反映させる?ordered_item　controller  @order_item--><!--, local: true消した-->
          <%= form_with model: @ordered_items, url: admin_ordered_item_path, method: :patch ,local: true do |f| %>
          <%= f.select :making_status %><!--中間テーブルordered_item.rbにて設定-->
          <!--< %= f.hidden_field :id vavlue => @ordered_items.id %> order_item controllerに送る?-->
          <%= f.submit "更新", class: "btn btn-outline-success" %>
          <% end %>
        </td>
       <% end %>
      </tr>
    </table>
  </div>
</div>
</div>
    <table class="total">
      <tr>
        <th>商品合計</th>
        <td><%= @order.total_payment %></td>
      <tr>
        <th>送料</th>
        <td><%= @order.postage %></td>
      </tr>
      <tr>
        <th>請求金額合計</th>
        <td><%= (@order.total_payment+@order.postage) %></td>
      </tr>
   </teble>
</div>

<% postage = 800 %>
<% total = 0%>
        <%= @ordered_items.each do |ordered_item|%>
        <% subtotal = ((@ordered_items.item.price*@ordered_items.quantity)*1.08).to_i %>
        <%= subtotal %>
<%end%>