<div class='container'>
    <div class='row mb-3'>
        <div class='col-4'>
            <h4 class="pt-3">ショッピングカート</h4>
        </div>
        <div class='col-3 offset-5 pt-3'>
            <%= link_to "カートを空にする", all_destroy_cart_items_path, method: :delete,class: "btn btn-danger btn-sm" %>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <table class='table table-bordered'>
                <tr class="table-secondary">
                    <th>商品名</th>
                    <th>単価(税込)</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th></th>
                </tr>
                <!--合計金額totalの初期化-->
                <% total = 0 %>
                <!--カート内に商品があった場合に実行する-->
                <% if current_member.cart_items.present? %>
                    <% @cart_items.each do |cart_item| %> 
                        <tr>
                            <td><%= attachment_image_tag(cart_item.item, :image, size: "60x50", fallback: "no_image.jpg") %>
                                <%= cart_item.item.name %></td>
                            <td><%= (cart_item.item.price*1.08).to_i %></td>
                            <td>
                                <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true, method: :patch do |f| %>
                                <!--f.select :name, options_for_select(セレクトボックスで表示したい要素配列.map{|c|[セレクトボックスで表示される値, value属性値にセットしたい値, {追加属性記述}]}, 初期値のvalueを選択), {}, {class: 'hoge', id: 'hogehoge'}-->
                                     <!--f.select :quantity, options_for_select(@numbers.map{|c|selected: cart_item.quantity.to_i} ) %>-->
                                    <!-- f.number_field :quantity >-この記述をしていたのでマイナスで注文できていたが下記に変更-->
                                     <%= f.number_field :quantity, min: 1, max:10, id: "quantity_cart"%>
                                    <%= f.submit "変更",class: "btn btn-success" %>
                                <% end %>
                            </td>
                            <td>
                                <!--小計の計算-->
                                <% subtotal = ((cart_item.item.price*cart_item.quantity)*1.08).to_i %>
                                <!--小計を表示-->
                                <%= subtotal %>
                            </td>
                            <td>
                                <!--削除ボタン-->
                                <%= link_to "削除する", cart_item_path(cart_item.id, cart_item), method: :delete,class: "btn btn-danger" %>
                            </td>
                        </tr>
                        <!--アイテムごとに合計金額に加算する-->
                        <% total += subtotal %>
                	<% end %>
            	<% end %>
            </table>
        </div>
    </div>
    <div class='row'>
        <div class='col-3'>
            <%= link_to "買い物を続ける", items_path, method: :get ,class:"btn btn-primary btn-sm"%>
        </div>
        <div class='col-3 offset-6'>
            <table class='table table-bordered'>
                <tr><th class="table-secondary">合計金額</th><td><%= total %></td></tr>
            </table>
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-3 offset-4'>
            <%= link_to "情報入力に進む", new_order_path,class:"btn btn-success"%>
            <!--link_to "情報入力に進む", new_order_path(cart_item), method: :new %>-->
        </div>
    </div>
</div>