<div class='container'>
 <div class='row'>
  <div class='col-8'>
   <h4 class="col-sm-4 bg-light my-4">ジャンル一覧・追加</h2>
  </div>
    <div  class="w-100 my-4 mx-4">
     <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
      ジャンル名
      <%= f.text_field :name, :placeholder => "ジャンル名" %>
      <%= f.submit '新規投稿', class: "btn btn-success"%>
     <% end %>
    </div>
  <div class='col-4'>
    <table class="table">
      <thead>
       <tr>
        <th class ="table-secondary mt-4">ジャンル</th>
        <th class ="table-secondary"></th>
       </tr>
      </thead>
      <% @genres.each do |f| %>
      <tr>
       <td><%= f.name %></td>
       <td><%= link_to "編集する", edit_admin_genre_path(f) ,class: "btn btn-success"%></td>
      </tr>
      <% end %>
      <tr>
       <td></td>
       <td><%= paginate @genres %></td>
      </tr>
    </table>
  </div>
 </div>
</div>