<div class="container">
    <h5>注文情報入力</h5>
    <div class="row">
        <div class="col">
            <%= form_with model: @order, url: "/orders/confirm", method: :post, local: true do |f| %>  
                <%= "支払い方法1" %>  
                <br>  
                    <%= f.radio_button :payment_method,:クレジットカード,  checked: "checked" %>  
                    <%= f.label :payment_method, "クレジットカード" %>  
                <br>  
                    <%= f.radio_button :payment_method, :銀行振込 %>  
                    <%= f.label :payment_m, "銀行振込" %>  
                <br>  
                    <%= f.label :address, "お届け先" %>  
                <br>  
                    <%= f.radio_button :address_option, 0, checked: "checked" %>  
                    <%= f.label :order_address, "ご自身の住所" %>  
                <br>
                    <%= current_member.post_code %>
                    <%= current_member.address %>
                    <%= current_member.first_name %>
                    <%= current_member.last_name %>
                <br>  
                    <%= f.radio_button :address_option, 1 %>  
                    <%= f.label :order_address, "登録済住所から選択" %>
                <br>
                    <%= f.collection_select :member_id, Address.all, :id, :full_adresses %>
                <br>
                    <%= f.radio_button :address_option, 2 %>
                    <%= f.label :order_address, "新しいお届け先" %> 
                <br>
                    <%= f.label :postage, "郵便番号" %>  
                    <%= f.text_field :postage %>
                <br>  
                    <%= f.label :shipping_address, "住所" %>
                    <%= f.text_field :shipping_address %>
                <br>  
                    <%= f.label :shipping_name, "宛名" %>  
                    <%= f.text_field :shipping_name %>  
                <br>  
                    <%= f.submit "確認画面へ進む" , class:"btn btn-primary" %>  
            <% end %>
        </div>
    </div>
</div>