<!DOCTYPE html>
<html>
  <head>
    <title>Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag 'sweets_shortcake.png',:size =>"50x50" %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <% if admin_signed_in? %>
                    <li class="nav-item px-4">
                        <%= link_to "商品一覧", admin_items_path, method: :get, class: 'btn btn-outline-dark' %>
                    </li>
                    <li class="nav-item px-4">
                        <%= link_to "会員一覧", admin_members_path, method: :get, class: 'btn btn-outline-dark' %>
                    </li>
                    <li class="nav-item px-4">
                        <%= link_to "注文履歴一覧", admin_orders_path, method: :get, class: 'btn btn-outline-dark' %>
                    </li>
                    <li class="nav-item px-4">
                        <%= link_to "ジャンル一覧", admin_genres_path, method: :get, class: 'btn btn-outline-dark' %>
                    </li>
                    <li class="nav-item pl-4">
                        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' %>
                    </li>
                <% elsif member_signed_in? %>
                    <li class="nav-item pr-5">
                        ようこそ、<%= current_member.last_name %>さん！
                    </li>
                    <li class="nav-item px-4">
                        <%= link_to "マイページ", member_path(current_member), method: :get, class: "btn btn-outline-dark" %>
                    </li>
                    <li class="nav-item px-4">
                        <%= link_to "商品一覧", items_path, method: :get, class: 'btn btn-outline-dark' %>
                    </li>
                    <li class="nav-item px-4">
                        <%= link_to "カート", cart_items_path(current_member), method: :get, class: 'btn btn-outline-dark' %>
                    </li>
                    <li class="nav-item pl-4">
                        <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'btn btn-outline-dark' %>
                    </li>
                <!--管理者でも会員でもログインしていないとき-->
                <% else %>
                    <li class="nav-item px-4">
                        <%= link_to "About", about_path, method: :get, class: 'btn btn-outline-dark' %>
                    </li>
                    <li class="nav-item px-4">
                        <%= link_to "商品一覧", items_path, method: :get, class: 'btn btn-outline-dark' %>
                    </li>
                    <li class="nav-item px-4">
                        <%= link_to "新規登録", new_member_registration_path, class: 'btn btn-outline-dark' %>
                    </li>
                    <li class="nav-item pl-4">
                        <%= link_to "ログイン", new_member_session_path, class: 'btn btn-outline-dark' %>
                    </li>
                <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <%= yield %>
  </body>
</html>
